<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6  text-center mt-4">
            <section class="welcome-section">
                <p class="text-recipe text-danger">Welcome to <span class="bold h4">MyRecipeHolder</span> app! </p>
                <p class="text-link text-danger">Save all your favorite recipe links here. </p>
                <img src="assets/cookingImage.avif" alt="Foodie" class="img-mobileViewrecipe">
            </section>
        </div> 
        <div class="col-sm-12 col-md-6 col-lg-6 text-center">
            <section class="img-section">
                <img src="assets/Designer.png" alt="Foodie" class="shadow img-recipe">
            </section>
        </div>


    </div>
</div>
